@model Tournament
<head>
    <link href="~/css/PlayoffIndexcshtml.css" rel="stylesheet" />
</head>
 

<main id="tournament">
    <section class="container">
        <div class="flexleft">
            <h4>Quarter Finals</h4>
            <span class="spacer">&nbsp;</span>
           
            <div>
                <div class="helper">
                    <span style="font-weight:bold">@Model.Left.FirstGame.TopTeam.Team</span>
                    <div class="game">
                        <hr class="brlines" />
                        @Model.Left.FirstGame.BotTeam.Team
                        <hr class="brlines" />
                    </div>
                </div>
                <div class="helper">
                    <span> @Model.Left.SecondGame.TopTeam.Team</span>
                    <div class="game">
                        <hr class="brlines" />
                        <p style="font-weight:bold">@Model.Left.SecondGame.BotTeam.Team </p>
                        <hr class="brlines" />
                   
                    </div>
                </div>
                <div class="helper">
                    <span style="font-weight:bold">@Model.Left.ThirdGame.TopTeam.Team</span>
                    <div class="game">
                        <hr class="brlines" />
                        @Model.Left.ThirdGame.BotTeam.Team
                        <hr class="brlines" />
                  
                    </div>
                </div>
                <div class="helper">
                    <span>@Model.Left.FourthGame.TopTeam.Team</span>
                    <div class="game">
                        <hr class="brlines" />
                      <p style=font-weight:bold> @Model.Left.FourthGame.BotTeam.Team</p>
                        <hr class="brlines" />
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="flexmid">

            <h4>Semi-Finals</h4>
            <span class="spacer">&nbsp;</span>
          

            <div class="helper">
                <span class="gamespacer">&nbsp;</span>
                <span>@Model.Middle.TopGame.TopTeam.Team</span>
                <div class="game">
                    <hr class="brlines" />
                   <p style="font-weight:bold"> @Model.Middle.TopGame.BotTeam.Team</p>
                    <hr class="brlines" />
                    </div>
                <span class="spacer">&nbsp;</span>
                <span class="spacer">&nbsp;</span>
                <span class="spacer">&nbsp;</span>
            </div>
            <div class="helper">
                <span class="gamespacer">&nbsp;</span>
                <span>@Model.Middle.BotomGame.TopTeam.Team</span>
                <div class="game">
                    <hr class="brlines" />
                   <p style="font-weight:bold"> @Model.Middle.BotomGame.BotTeam.Team</p>
                    <hr class="brlines" />
                </div>
            </div>
        </div>

        <div class="flexright">

            <h4>Championship Game</H4>

            <div class="right">
                <div class="helper">
                    <span style="font-weight:bold">@Model.Right.Finals.TopTeam.Team --- Champion!!!</span>
                    <div class="game">
                        <hr class="brlines" />
                        @Model.Right.Finals.BotTeam.Team
                        <hr class="brlines" />
                    </div>
                </div>
            </div>
        </div>
        <div> 
            
            
        </div>
    </section>
</main>

