
<head>
    
</head>
@model IEnumerable<Season2021>

    <h1 id="Title">2021 Regular Season</h1>

  <body>

        <p>

            Here is a quick look at the results from last year's regular season
        </p>



   
    <table class="table">
        <tr>
            <th class="c1"> Team </th>
            <th class="c2"> Game 1 </th>
            <th class="c3"> Game 2 </th>
            <th class="c1"> Game 3 </th>
            <th class="c2">  Game 4 </th>
            <th class="c3"> Game 5 </th>
            <th class="c1"> Game 6 </th>
            <th class="c2"> Game 7 </th>
            <th class="c3"> Game 8 </th>
            <th class="c1"> Game 9 </th>
            <th class="c2"> Game 10 </th>
            <th class="c3"> Game 11 </th>
            <th class="c1"> Game 12 </th>
            <th class="c2"> Game 13 </th>
            <th class="c3"> Game 14 </th>
        </tr>

        @foreach (var record in Model)
    {
        <tr>
            <td class="c1">@record.Team</td>
            <td class="c2">@record.Week1</td>
            <td class="c3">@record.Week2</td>
            <td class="c1">@record.Week3</td>
            <td class="c2">@record.Week4</td>
            <td class="c3">@record.Week5</td>
            <td class="c1">@record.Week6</td>
            <td class="c2">@record.Week7</td>
            <td class="c3">@record.Week8</td>
            <td class="c1">@record.Week9</td>
            <td class="c2">@record.Week10</td>
            <td class="c3">@record.Week11</td>
            <td class="c1">@record.Week12</td>
            <td class="c2">@record.Week13</td>
            <td class="c3">@record.Week14</td>
        </tr>
    }
     
     </table>
 </body>
 
